<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Create Upcoming Stream</mat-card-title>
      </mat-card-header>
  
      <form [formGroup]="streamForm" class="example-form">
        <div *ngIf="registerError && submitted">
          <p style="color:red">{{ errorMessage }}.</p>
        </div>
    <mat-card-content>
          <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Broadcast Title"
                type="text"
                formControlName="title"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
              />
              <div *ngIf="submitted && f.title.errors">
                <div *ngIf="f.title.errors.required">title is required</div>
              </div>
            </mat-form-field>
      
        </mat-card-content>
         <button
          mat-stroked-button
          color="accent"
          class="btn-block"
          (click)="onSubmit()"
        >
          Create Stream
        </button>
      </form>
   
    </mat-card>
  </div>